# Motivation Simulation Distribution

# Main OpenEngine repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# Required extensions
darcs /extensions/SDL             http://openengine.dk/code/extensions/SDL
darcs /extensions/TGAResource     http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource     http://openengine.dk/code/extensions/OBJResource
darcs /extensions/OpenGLRenderer  http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/GenericHandlers http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/SetupHelpers    http://openengine.dk/code/extensions/SetupHelpers

darcs /extensions/BehaviorTree    http://openengine.dk/code/extensions/BehaviorTree
darcs /extensions/GenerelBehavior http://openengine.dk/code/extensions/GenerelBehavior

darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/OBJResource            fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/GenericHandlers        fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/SetupHelpers           fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers

darcs-dev /extensions/BehaviorTree           fh.daimi.au.dk:/users/cgd/code/extensions/BehaviorTree
darcs-dev /extensions/GenerelBehavior        fh.daimi.au.dk:/users/cgd/code/extensions/GenerelBehavior


# Some working project
darcs /projects/MotivationSim http://openengine.dk/code/projects/MotivationSim
darcs-dev /projects/MotivationSim fh.daimi.au.dk:/users/cgd/code/projects/MotivationSim

# Libraries for various system
win32  /libraries http://openengine.dk/data/libraries/sdl-win32.zip
darwin /libraries http://openengine.dk/data/libraries/sdl-osx.zip
linux  /libraries http://openengine.dk/data/libraries/sdl-linux.zip

# Content
#any /projects/BehaviorSim/data http://openengine.dk/data/models/BehaviorSimData.zip
